<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {{ form.media }}
    <link rel="stylesheet" type="text/css" href="{% static 'manuals/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'manuals/css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/655cdb791b.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Manuals</title>
</head>
<body>

  <!-- Fixed top navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid nav-container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Market Manuals</a>
      </div>
      <ul class="nav navbar-nav nav-pills">
        {% if user.is_authenticated and user.is_staff %}
          <li><a href="{% url 'manage' %}"><strong>Admin</strong></a></li>
        {% endif %} 
      </ul>
      <ul class="nav nav-pills navbar-right">
        {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}">Log out</a></li>
          <li><a href="{% url 'profile' %}">{{ user.username }}</a></li>
        {% else %}
          <li><a href="{% url 'login' %}">Log in</a></li>
          <li><a href="{% url 'register' %}">Sign Up</a></li>
        {% endif %}
      </ul>
      <form class="navbar-form navbar-left" action="/action_page.php">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form> 
    </div>
  </nav>

  <!-- Fixed sidebar -->
    <div class="sidebar-container">
            <div class="sidebar-logo">
              Manuals Toolbar
            </div>
            <ul class="sidebar-navigation">
              <li class="header">Finance</li>
              <li>
                <a href="{% url 'index' %}">
                  <i class="fa fa-home" aria-hidden="true"></i> Home
                </a>
              </li>
              <li>
                <a id="new-manual" href="{% url 'manual-create' %}">
                  <i class="far fa-file" aria-hidden="true"></i> New Manual
                </a>
              </li>
              <li>
                <a id="new-dir" href="#">
                  <i class="far fa-folder" aria-hidden="true"></i> New Folder
                </a>
              </li>
              <li class="header">Favorites</li>
              <li>
                <a href="#">
                  <i class="fas fa-receipt" aria-hidden="true"></i> Accounts Payable
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fas fa-cash-register" aria-hidden="true"></i> Accounts Receivable
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fas fa-money-check" aria-hidden="true"></i> Payroll
                </a>
              </li>
            </ul>
          </div>
          
          <div class="content-container">
            <div class="container-fluid main-container">
              
              {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}

              <!-- Page Content -->
              {% block content %}
              {% endblock %}

            </div>
          </div>

<!-- Scripts -->
<script type="text/javascript" src="{% static 'manuals/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'manuals/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script type="text/javascript" src="{% static 'manuals/js/index.js' %}"></script>

</body>
</html>