{% extends "manuals/header.html" %}

{% block content %}
{% load static %}
{% load mptt_tags %}

    <!-- The Directory Table -->
    <div class="container-fluid" id="dir-table">
        {% include "manuals/index_ajax.html" %}
    </div>

    <!-- BSModal Form -->
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
      
          </div>
        </div>
    </div>

    {% include "manuals/fav_modal.html" %}

{% endblock %}