{% extends "manuals/header.html" %}

{% block content %}
{% load static %}
{% load mptt_tags %}

    <!-- The Directory Table -->
    <div class="container-fluid" id="dir-table">
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col" class="file-root" id="pk-{{ current_folder.id }}"><strong>{{ current_folder.name }}</strong></th>
            </tr>
            </thead>
            <tbody>
            {% for directory in directories %}
                {% if not directory.name == "Root" %}
                    <tr>
                        <td class="file-folder">
                            <strong><a class="folder" id="pk-{{ directory.id }}" href="#">{{ directory.name }}</a></strong>
                            <span><button class="btn btn-sm btn-danger folder-delete" data-id="{% url 'dir-delete' directory.id %}">Delete</button></span>
                            <span><button class="btn btn-sm btn-default folder-update" data-id="{% url 'dir-update' directory.id %}">Rename</button></span>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            {% for manual in manuals %}
                <tr>
                    <td class="file-file"><a href="{% url 'manual-detail' manual.id %}">{{ manual.title }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modal Form -->
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
      
          </div>
        </div>
    </div>
{% endblock %}