.sidebar-container {
    position: fixed;
    width: 220px;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: #1f1f1f;
    color: #fff;
  }
  
  .content-container {
    padding-top: 20px;
  }
  
  .sidebar-logo {
    padding: 10px 15px 10px 30px;
    font-size: 20px;
    background-color: rgb(52, 66, 44);
  }
  
  .sidebar-navigation {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
  }
  
  .sidebar-navigation li {
    background-color: transparent;
    position: relative;
    display: inline-block;
    width: 100%;
    line-height: 20px;
  }
  
  .sidebar-navigation li a {
    padding: 10px 15px 10px 30px;
    display: block;
    color: #fff;
  }

  /* .sidebar-navigation li a::before {
    margin-left: 2px;
  } */
  
  .sidebar-navigation li .fa {
    margin-right: 10px;
  }

  .sidebar-navigation li .far {
    margin-right: 10px;
  }

  .sidebar-navigation li .fas {
    margin-right: 10px;
  }
  
  .sidebar-navigation li a:active,
  .sidebar-navigation li a:focus {
    text-decoration: none;
    outline: none;
  }

  .sidebar-navigation li a:hover {
    background-color: rgb(131, 131, 131);
    transition: .2s ease-in;
    text-decoration: none;
    outline: none;
  }
  
  /* .sidebar-navigation li::before {
    background-color: rgb(116, 114, 114);
    position: absolute;
    content: '';
    height: 100%;
    left: 0;
    top: 0;
    transition: 0.2s ease-in;
    width: 3px;
    z-index: -1;
  } */
  
  .sidebar-navigation li:hover::before {
    width: 100%;
  }
  
  .sidebar-navigation .header {
    font-size: 12px;
    text-transform: uppercase;
    background-color: #191b17;
    padding: 10px 15px 10px 30px;
  }
  
  .sidebar-navigation .header::before {
    background-color: transparent;
  }
  
  .content-container {
    padding-left: 235px;
  }

/* Account image */
.rounded-circle {
  border: 1px solid #ddd;
  padding: 5px;
  width: 85px;
  height: auto;
}

.account-img {
  border-radius: 50%;
  float: left;
  margin-right: 7px;
}

.account-info {
  position: absolute;
  right: 0px;
  width: 325px;
  padding: 15px;
}

/* Table Styles */

.thead-dark {
color: #fff;
background-color:rgb(52, 66, 44);
border-color:#1c2412;
}

a.folder-breadcrumb {
  color: rgba(255, 255, 255, 0.842);
  font-size: 90%;
}

a.folder-breadcrumb:hover {
  color: #fff;
  text-decoration: none;
}

a.folder-breadcrumb::after {
  padding: 8px;
  color:rgba(255, 255, 255, 0.842);
  content: "/";
}

.file-root::before {
  content: '\f07c';
  font-family: "fontawesome"; 
  font-size: 14px;
  font-weight: 900;
  float: left;
  margin-right: 6px;
}

.file-folder::before {
  content: '\f07b';
  font-family: "fontawesome";
  font-size: 14px;
  float: left;
  margin-right: 6px;
}

.file-file::before {
  content: '\f15b';
  font-family: "fontawesome";
  font-size: 14px;
  float: left;
  margin-right: 6px;
}

.col-main {
  width: 95%;
}

.col-secondary {
  width: 5%;
}

/* Dropdown for update and delete buttons on folders */

.folder-dropdown {
  position: relative;
  display: inline-block;
}

.drop-menu {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 65px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}

.folder-update, .folder-delete {
  font-size: 10pt;
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
}

.folder-delete {
  background-color: rgb(194, 90, 90);
}

.folder-update:hover {
  background-color: #ddd;
  text-decoration: none;
}

.folder-delete:hover {
  background-color: rgb(252, 64, 64);
  color: white;
  text-decoration: none;
}

/* .btn-drop:focus + .drop-menu {
  display: block;
} */

.show-drop {
  display: block;
}

/* Breadcrumb Navigation */

 /* Style the list */
 ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #a7ee95;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #beceb6;
  text-decoration: underline;
} 

/* Margins */

.mt-6 {
  margin-top: 6px;
}

.mb-1 {
  margin-bottom: 1px;
}