{% extends "manuals/header.html" %}
{% block content %}

<div class="content-section">

    <!-- Manuals Admin Container -->
    <div class="panel panel-default panel-admin">
      <!-- Default panel contents -->
      <div class="panel-heading"><h5 class="panel-title">Admin</h5></div>
      <div class="panel-body">
        <p>{% lorem 1 p %}</p>
      </div>
    
      <!-- List group -->
      <table class="table table-striped table-hover admin-table">
        <thead>
          <tr>
            <th class="admin-col">Title</th>
            <th>Folder</th>
            <th>Assigned</th>
            <th>Next Update</th>
            <th>Status</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
        {% if admin_of %}

          <!-- User is admin for manuals; populate the table -->
          {% for manual in admin_of %}
            {% if manual.update_status == "due_soon" %}
              <tr class="warning">
                <td class="admin-col">
                  <a href="{% url 'manual-detail' manual.id %}">{{ manual.title }}</a></td>
            {% elif manual.update_status == "overdue" %}
              <tr class="danger">
                <td class="admin-col">
                  <a href="{% url 'manual-detail' manual.id %}">{{ manual.title }}</a></td>
            {% else %}
              <tr>
                <td class="admin-col">
                  <a href="{% url 'manual-detail' manual.id %}">{{ manual.title }}</a></td> 
            {% endif %}

                <td><small class="text-muted">{{ manual.folder }}</small></td>
                <td><small class="text-muted">{{ manual.update_assigned_to }}</small></td>
                <td><small class="text-muted">{{ manual.next_update|date:"M. d, Y"  }}</small></td>

                <!-- Make update staus more readable -->
                {% if manual.update_status == "due_soon" %}
                  <td><small class="text-muted">Due soon</small></td>
                {% elif manual.update_status == "overdue" %}
                  <td><small class="text-muted">Overdue</small></td>
                {% else %}
                  <td><small class="text-muted">Up to date</small></td>
                {% endif %}

                <td class="admin-option">#</td>
              </tr>
          {% endfor %}

          <!-- User is not admin for any manuals; display message -->
          {% else %}
          <tr><td>
            <li class="list-group-item">You have not been assigned admin to any manuals.</li>
          </td></tr>
        {% endif %}
        </tbody>
      </table>
</div>


{% endblock %}