{% extends "manuals/header.html" %}
{% block content %}

        <div class="content-section">
            <h1 class="preferences-title">{{ user.username }}'s Preferences</h1>
              <div class="media account-info">
                <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
                <div class="media-body">
                  <h2 class="account-heading">{{ user.username }}</h2>
                  <p class="text-secondary">{{ user.email }}</p>
                  <div class="border-top pt-3">
                    <small><a href="{% url 'logout' %}">Log out</a></small>
                  </div>
                </div>
              </div>
              <ul class="list-unstyled">

                <!-- For the 'user_update path' to work ALLOW_USER_FIELD_UPDATES 
                      must be set to True in Setttings ' -->
                
                {% comment 'Optional path for user updates' %}
                <!-- <li><a href="{% url 'user_update' user.id %}">Change Email</a></li> -->
                {% endcomment %}

                <li><a href="{% url 'change_image' user.profile.id %}">Change Account Image</a></li>
                <li><a href="{% url 'password_reset' %}">Reset Password</a></li>
            </ul>
        </div>

{% endblock %}