{% extends "manuals/header.html" %}
{% block content %}

<div class="content-section">
    <div class="media account-info">
      <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
      <div class="media-body">
        <h2 class="account-heading">{{ user.username }}</h2>
        <p class="text-secondary">{{ user.email }}</p>
        <div class="border-top pt-3">
          <small><a href="{% url 'logout' %}">Log out</a></small>
        </div>
      </div>
    </div>

    <!-- Manuals Authored Container -->
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading"><h5 class="panel-title">Authored</h5></div>
      <!-- <div class="panel-body">
        <p>{% lorem 1 p %}</p>
      </div> -->
    
      <!-- List group -->
      <ul class="list-group">
        {% if author %}
          {% for manual in author %}
            <a href="{% url 'manual-detail' manual.id %}" class="list-group-item">
              {{ manual.title }} <small class="algn-right text-muted">{{ manual.folder }}</small>
            </a>
          {% endfor %}
        {% else %}
          <li class="list-group-item">You have no manuals authored.</li>
        {% endif %}
      </ul>
    </div>

    <!-- Manuals Assigned Container -->
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading"><h5 class="panel-title">Assigned</h5></div>
      <!-- <div class="panel-body">
        <p>{% lorem 1 p %}</p>
      </div> -->
    
      <!-- List group -->
      <ul class="list-group">
        {% if assigned %}
          {% for manual in assigned %}
            <a href="{% url 'manual-detail' manual.id %}" class="list-group-item">
              {{ manual.title }} <small class="algn-right text-muted">{{ manual.folder }}</small>
            </a>
          {% endfor %}
          {% else %}
          <li class="list-group-item">You have no manuals assigned.</li>
        {% endif %}
      </ul>
    </div>

    <!-- Manuals Updated Container -->
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading"><h5 class="panel-title">Updated</h5></div>
      <!-- <div class="panel-body">
        <p>{% lorem 1 p %}</p>
      </div> -->
    
      <!-- List group -->
      <ul class="list-group">
        {% if updated %}
          {% for manual in updated %}
            <a href="{% url 'manual-detail' manual.id %}" class="list-group-item">
              {{ manual.title }} <small class="algn-right text-muted">{{ manual.folder }}</small>
            </a>
          {% endfor %}
          {% else %}
          <li class="list-group-item">You have no manuals recently updated.</li>
        {% endif %}
      </ul>
    </div>

    <!-- Manuals Admin Container -->
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading"><h5 class="panel-title">Admin</h5></div>
      <!-- <div class="panel-body">
        <p>{% lorem 1 p %}</p>
      </div> -->
    
      <!-- List group -->
      <ul class="list-group">
        {% if admin_of %}
          {% for manual in admin_of %}
            <a href="{% url 'manual-detail' manual.id %}" class="list-group-item">
              {{ manual.title }} <small class="algn-right text-muted">{{ manual.folder }}</small>
            </a>
          {% endfor %}
          {% else %}
          <li class="list-group-item">You have not been assigned admin to any manuals.</li>
        {% endif %}
      </ul>
    </div>


{% endblock %}

